

  <h4 id="error_message"><%= @error_message %></h4><br />
  <button type="button" class="btn btn-default" id="closeLink">Okay</button>



<style type="text/css">

  #dialog{
    position: fixed;
    margin: auto;
    background: white;
    top: 50%;
    left: 50%;
    
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    
    width: auto;
    height: auto;
    
    
    
    border: 2px solid #07073c;
    padding: 19px;
    padding-top: 13px;
    z-index: 100;
  }
  
  #closeLink{
    display: block;
    position: relative;
    margin: auto;
    margin-top: 2%;
 
  }
  
  #error_message {
    text-align: center;
  }


</style>
