/*.no-margin {*/
/*  margin: 0;*/
/*}*/

/*.no-padding {*/
/*  padding: 0;*/
/*}*/

.navbar-nav .navbar-nav>.active> a, 
.navbar-nav .navbar-nav>.active> a:focus, 
.navbar-nav .navbar-nav>.active> a:hover {
  /*background: red;*/
}

.nav
.active{
font-weight: bold;
}

/**Below lines added to fix responsive navbar errors, maybe comment out in future*/
ul.nav.navbar-nav.navbar-right {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
button.navbar-toggle {
    margin-bottom: 0 !important;
}
div.navbar-collapse {
    padding-top: 0 !important;
}
li {
    /*background-color: #18bc9c !important;*/
}


.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border--color: #d6e9c6;
}
  
  
 .alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}


.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
