  /*.carousel-inner > .item > img,*/
  /*.carousel-inner > .item > a > img {*/
  /*  position: relative;*/
  /*    width: 20%;*/
  /*    margin: 0 0 0 5%;*/
  /*}*/
  
  .leftBlock {
    position: relative;
    left: 15%;
    /*width: 75%;*/
    /*height: 100%;*/
    /*background-color: #428bca;*/
    /*opacity: 0.8;*/
    /*bottom:0;*/
    /*right:0;*/
    /*color: white;*/
        margin-top: 5;

}
.rightBlock{
    position: relative;
        margin-top: -20;

}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    color: black;
    margin-top: -20;
}

 .btn-primary{
    margin: 0 10 0 10;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.carousel {
    border-style: solid;
    border-width: 1px;
    max-height: 390px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

.fa-chevron-circle-left, .fa-chevron-circle-right {
    position: relative;
    top: 50%;
    
}

.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
}

.stars-container:before {
  position: absolute;
  top: -10;
  left: 0;
  content: '★★★★★';
  color: lightgray;
}

.stars-container:after {
  position: absolute;
  top: -10;
  left: 0;
  content: '★★★★★';
  color: gold;
  overflow: hidden;
}

.stars-0:after { width: 0%; }
.stars-10:after { width: 10%; }
.stars-20:after { width: 20%; }
.stars-30:after { width: 30%; }
.stars-40:after { width: 40%; }
.stars-50:after { width: 50%; }
.stars-60:after { width: 60%; }
.stars-70:after { width: 70%; }
.stars-80:after { width: 80%; }
.stars-90:after { width: 90%; }
.stars-100:after { width: 100; }