// Place all the styles related to the TeamController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/** Fake that table headers are links **/
#users_count_header, #pending_requests_header {
    text-decoration: underline;
    cursor: pointer;
}
#users_count_header:hover, #pending_requests_header:hover {
    color: #18bc9c;
}
#waitlisted_form, #num_members_filter {
    margin-right: 20px;
    display: inline;
}



/** Fancy checkboxes */
.checkbox_and_label {
    display: inline-block;
    line-height: 0px;
}

input[type=checkbox].checks {
    display: block;
    visibility: hidden;
    vertical-align: middle;
    margin-top: -100px;
    top: -10%;
    z-index: -500;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
  background-color: #149c82;
  color: white;
}
.info_category.info_span {
    display: inline-block;
}



/** Table layout */
#teams {
    table-layout: fixed;
    word-break: break-word;
    width:100%;
}
#my_team {
    table-layout: auto;
    word-break: break-word;
    width: auto;
    min-width: 80%;
}
#teams> thead> tr> th:not(.member_names), #teams> tbody> tr> td:not(.member_names){
   text-align: center;
}
.member_names {
    width: 30%;
    min-width: 25%;
    max-width: 50%;
}
.requests {
    width: 15%;
    min-width: 10%;
    max-width: 20%;
}
.team_waitlisted {
    width: 10%;
    min-width: 10%;
    max-width: 20%;
}


/**Display buttons **/
.row> form.button_to {
    display: inline-block;
    float: left
}
#disc_btn {
    float: right;
    margin-left: 20px;
    padding-left: 10px;
}


/** Team Profile **/
.custom_hr {
    border-top: 1px solid #lightgray;
}

.info_category {
    font-weight: bold;
    color: #2e5767;
}

// Team Home
h5 span {
    cursor: default;
}