// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.custom_hr {
    border-top: 1px solid #lightgray;
    margin-top: 1px;
}

.info_category {
    font-weight: bold;
    color: #2e5767;
}